.task-container{
   
    width: 400px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin: 30px;
    position: relative;
    box-shadow: 0 0 0 2px rgb(212, 161, 144);
    cursor: pointer;

}
.task-container:hover{
   box-shadow: 0 0 10px 5px black;
   
}
.taskpriority{
position: absolute;
top: 0;
right: 0;
width: 50px;
background-color:rgb(204, 119, 90) ;
color: black;
padding-left: 20px;
border-radius: 0px 10px 0px 0;
height: 25px;

}
.task-delet-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
}
.task-edit-icon{
    position: absolute;
    bottom: 5px;
    right: 40px;
    cursor: pointer;
    font-size: 30px;  
}