.heading{
    text-align: center;
  background-color: rgb(235, 80, 28);
  color: aliceblue;
    padding: 0 0 10px 3px;
    width: 400px;
    display: block;
    margin: 10px auto;
   border-radius: 25px;
   font-size: 20px;
   margin-top: 30px;
}
.container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.common-text{
    text-align: center;
    margin-top: 20px;
}
.tasks-container{

    height: 500px;
    overflow-y: scroll;
    
}
.tasks-container::-webkit-scrollbar{
    width: 20px;
}
.inputBox{
    padding: 10px;
    width: 330px;
    border-radius: 10px;
    font-size: 18px;
    margin: 20px;
    border: 0.5px solid rgb(235, 80, 28) ;
}
.addBtn{
    display: block;
    margin: 10px auto;
    background-color: rgb(241, 86, 35);
    color: black;
    font-size: 18px;
   width: 150px;
   padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.input-container{
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
    padding-top: -30px;
    border-radius: 10px;
}
.btn-container{
    display: flex;
}